In [29]:
import pandas as pd
df=pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [37]:
x=df[['sepal_length','sepal_width','petal_length','petal_width']]
y=df[['species']]

In [38]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=50)

In [39]:
print("train data")
print(x_train)
print("test data")
print(x_test)

train data
     sepal_length  sepal_width  petal_length  petal_width
125           7.2          3.2           6.0          1.8
98            5.1          2.5           3.0          1.1
73            6.1          2.8           4.7          1.2
144           6.7          3.3           5.7          2.5
21            5.1          3.7           1.5          0.4
..            ...          ...           ...          ...
70            5.9          3.2           4.8          1.8
132           6.4          2.8           5.6          2.2
33            5.5          4.2           1.4          0.2
109           7.2          3.6           6.1          2.5
139           6.9          3.1           5.4          2.1

[120 rows x 4 columns]
test data
        species
125   virginica
98   versicolor
73   versicolor
144   virginica
21       setosa
..          ...
70   versicolor
132   virginica
33       setosa
109   virginica
139   virginica

[120 rows x 1 columns]

In [1]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [4]:
print("train data")
print(y_train)
print("test data")
print(y_test)

train data

NameError: name 'y_train' is not defined